
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 3px;
    text-shadow: 5px 5px 5px #aaa;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /*color: black;*/
    text-align: center;
}

.test-piou {
    color: #0479c9;
    margin-right: 1rem;

}

h2 {
    margin-top: 4rem;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.i {
    color: #0479c9;
    text-align: right;
    position: absolute;
    width: 100%;
}


.text-1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 7rem;
    font-family: 'Fira Sans', sans-serif;
}

.text-2 {
    margin-left: 7rem;
}
.text-3 {
    font-family: 'Satisfy', cursive;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
.text-4 {
    font-family: 'Satisfy', cursive;
    margin-top: 7rem;

}

.text-center-1 {
    padding-right: 1rem;
}

.text-center-2 {
    font-size: 16px;

}

.col-sm-4 {
    padding-left: 5rem;
}


.text6 {
    padding-top: 2rem;
    font-family: 'Bad Script', cursive;
    color: black;

}

.texte-7 {

    padding-top: 3rem;
    text-align: left;

}
.image-graph {
    padding-bottom: 3rem;
    width: 320px;
    height: 320px;
}
.imgage-mont {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.row-bloc-1 {
    padding-top: 2rem;
}
.photo {
    width: 495px;
    height: 474px;
}

.navbar-brand {
    margin-left: 2rem;
}

.background-img-1 {
    background: url("assets/DONNER_LA_MAIN5-1.jpg");
    background-size: cover;
    padding: 150px;
    margin-left: -5rem;

}
.background-img-2 {
    background: url("assets/EQUIPE_SPORT_FILLES.jpg");
    background-size: cover;
    padding: 150px;
    margin-left: 2rem;

}
.background-img-3 {
    background: url("assets/mont_saint_michel_maree67_jds.jpg");
    background-size: cover;
    text-align: center;
}


.TEXT {
    font-size: 20px;

    font-family: 'Bad Script', cursive;
    margin: 9px 9px -57px -57px;
}